@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "kneekeetah-vue-ui-kit/dist/style.css";

* {
    padding: revert-layer;
    font-family: "Montserrat", serif;
}

.base-input-wrapper input {
    background: rgb(64, 64, 64) !important;
    appearance: none;
    border-color: rgb(62, 62, 62) !important;
}
.base-input-label:not(.highlight) {
    color: rgb(194, 194, 194) !important;
}
.base-input-wrapper input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(61, 61, 61) inset !important;
    -webkit-text-fill-color: rgb(237, 237, 237)
}


* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}